port 26379
pidfile "/var/run/redis/sentinel.pid"
logfile "/var/log/redis/sentinel.log"

sentinel monitor mymaster {{ pri_db1_ipadd }} 6379 1
sentinel down-after-milliseconds mymaster 3000
sentinel failover-timeout mymaster 6000
sentinel parallel-syncs mymaster 1
