{{ pri_web1_ipadd }} {{ web1_hostname }}
{{ pri_web2_ipadd }} {{ web2_hostname }}
{{ pri_db1_ipadd }} {{ db1_hostname }}
{{ pri_db2_ipadd }} {{ db2_hostname }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
