[galera]
port=3307
wsrep_on=ON
wsrep_provider='/usr/lib64/galera/libgalera_smm.so'
wsrep_cluster_address=gcomm://{{ pri_db1_ipadd }},{{ pri_db2_ipadd }}
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
innodb_doublewrite=1
query_cache_size=0
wsrep_cluster_name='MariaGaleraCluster'
wsrep_node_address='{{ pri_ipadd }}'
wsrep_node_name='{{ inventory_hostname }}'
wsrep_sst_method=rsync
